{% extends './layouts/base.html' %}
{% load static %}



{% block content %}
<div class="cardsContainer d-flex justify-content-center">
    <div class="card cardContainer" style="width: 18rem;">
        {% if book.inStock > 0 %}
        <span class="bg-success text-light p-1 position-absolute top-0 rounded-2 m-1">inStock</span>
        {% else %}
        <span class="bg-danger text-light p-1 position-absolute top-0 rounded-2 m-1">outStock</span>

        {% endif %}
        <img class="card-img-top" src={{book.get_image_url}} alt="Card image cap" width="200px" height="300px">
        {% if book.category != None %}
            <a class="px-2 py-1 bg-success rounded-5 w-25 m-3 text-center text-light text-decoration-none" href="{% url 'category.details' book.category %}">{{book.category}}</a>
        {% endif %}

        
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h5 class="card-title fw-bold">{{book.name}}</h5>
                <h5 class="card-title text-success">{{book.price}}$</h5>

            </div>
            <p>Owner: {{ book.owner.username }}</p>


            <p class="card-text text-secondary">{{book.description}}</p>
            <div class="d-flex justify-content-center align-content-center">
                <a href="/book_store/" class="btn btn-primary m-2" style="width: 100px; height:fit-content;">Home</a>

                {% if book.owner == user %}

                <a href="{% url 'book_store.delete' book.id %}"
                        class="btn btn-primary bg-danger text-light m-2" style="width: 100px; height:fit-content;">delete</a>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}