<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'book/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'book/css/details.css' %}">

    <script>
        makeSearch = () => {
            const value = document.getElementById('searchInput').value
            window.location.href = `/book_store/search/${value}`
        }
    </script>


</head>

<body>
    <!-- *********************************Header********************************* -->
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary-subtle justify-content-between headerNav">
        <div>
            <a class="" href="/book_store/">Home</a>
            <a class="" href="/book_store/contact-us">Contact Us</a>
            <a class="" href="/book_store/about-us">About Us</a>
        </div>
        <div class="d-flex flex-row text-primary" style="margin-left:700px;">

        {% if user.id %}
            <a class="nav-link fw-bolder" href="{% url 'profile' %}"><span class="text-secondary fw-lighter">User:</span> {{user}}</a>
            <label class="nav-item">
                <a class="nav-link text-danger" href="{% url 'logout' %}"> logout </a>
            </label>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}"> Login </a>
        <a class="nav-link" href="{% url 'register' %}"> SignUp </a>
        {% endif %}
    </div>



        <form class="form-inline d-flex flex-row me-3">
            <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick={makeSearch()}>Search</button>
        </form>
    </nav>

    <!-- *********************************Content******************************** -->

    <div>
        {% block content %}
        {% endblock %}
    </div>


    <!-- *********************************Footer********************************* -->

    <footer class="bg-secondary-subtle footerNav">
        <h4></h4>
    </footer>

    <script src="{% static 'bootstrap/js/all.min.js' %}">
    </script>
</body>

</html>