{% extends 'book_store/layouts/base.html' %}
{% load static %}


{% block content %}


    <div class="container" style="margin: 100px;">
        <h2>Register</h2>
        <form method="post" class="m-5">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field, errors in form.errors.items %}
                        <strong>{{ field|title }}:</strong>
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}

            
            <div class="row p-3">
                <label class="col-2" for="id_username">Username:</label>
                <div class="col-2">                
                {{ form.username }}
                </div>
            </div>

            <div class="row p-3">
                <label class="col-2" for="id_first_name">First Name:</label>
                <div class="col-2">                
                    {{ form.first_name }}
                </div>
            </div>


            <div class="row p-3">
                <label class="col-2" for="id_last_name">Last Name:</label>
                <div class="col-2">                
                    {{ form.last_name }}
                </div>
            </div>

            <div class="row p-3">
                <label class="col-2" for="id_password1">Password:</label>
                <div class="col-2">                
                    {{ form.password1 }}
                </div>
            </div>


            <div class="row p-3">
                <label class="col-2" for="id_password2">Confirm Password:</label>
                <div class="col-2">                
                    {{ form.password2 }}
                </div>
            </div>


            <button type="submit" class="btn btn-primary m-3 ">Register</button>
        </form>
    </div>
{% endblock %}